{% extends 'base.html' %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %}
    Items list
{% endblock title %}

{% block scripts %}
    <script src="{% static 'items/itemview.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <!-- Modal -->
        {% include 'items/item_modal.html' %}
    <h4>Items for Sale</h4>
    {% for item in object_list %}
        <div class="card mb-3">
            <div class="row">
                <div class="col-3">
                    <img class="img-thumbnail" src={% if item.get_main_image %}{{item.get_main_image.url}}{% else %}"/media/no_picture.png"{% endif %}>
                </div>
                <div class="col-9">
                    <div class="row">
                        <a href="{{item.get_absolute_url}}" class="card-body no-decoration">{{item.title}}</a>
                    </div>
                    <div class="row">
                        <h6>{{item.description|truncatechars:50}}</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4"><b>Price: ${{item.price|floatformat:2}}</b></div>
            </div>
        </div>
    {% endfor %}
    {% if seller %}
        <button class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#itemModal">Post Item for Sale</button>
    {% endif %}
{% endblock content %}

