{% load crispy_forms_tags %}

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Message Seller</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="report-modal">
                <div id="result-box"></div>
                    <form id="message-form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{message_form|crispy}}
                        <button type="submit" class="btn btn-info mt-2">Send</button>
                    </form>
            </div>
        <!---div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
        </div>
    </div>
</div>