{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Message Box
{% endblock title %}


{% block content %}
    <h1>Your conversations</h1>
    {% if not inbox %}
        <p>You currently don't have any conversations.</p>
    {% else %}
        {% for thread in inbox %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-out-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse-out-{{forloop.counter}}">
                        {{thread.0.subject}} between {% if thread.0.get_users.1.username == username %}you {% else %}{{thread.0.get_users.1}}{% endif %} and {% if thread.0.get_users.0.username == username %}you {% else %}{{thread.0.get_users.0}}{% endif %}
                    </button>
                </h2>
                <div id="flush-collapse-out-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            {% for msg in thread.0.message_set.all %}
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            {{msg.content}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary col-1" data-bs-toggle="collapse" target="#reply-{{thread.id}}">Reply</button>
                        <button class="btn btn-danger  col-1" type="submit">Delete</button>
                        <form id="reply-{{thread.0.id}}" method="POST" action="" class="col" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{thread.1|crispy}}
                            <button type="submit" class="btn btn-info mt-2">Send</button>
                        </form>
                        <form method="POST" class="col-1">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% comment %} {% for msg in inbox %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-out-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse-out-{{forloop.counter}}">
                        Conversation between {{ msg.get_users.0 }} and {{ msg.get_users.1 }}. Last message {{msg.updated_at|timesince}} ago.
                    </button>
                </h2>
                <div id="flush-collapse-out-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row"><b>{{ msg.subject }}</b></div>
                        <div class="row">{{msg.content}}</div>
                        <div class="row">
                            <button class="btn btn-primary col-1">Reply</button>
                            <form method="POST" class="col-1">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} {% endcomment %}
    {% endif %}
    {% comment %} <h1>Outbox</h1>
    {% for msg in outbox %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-out-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse-out-{{forloop.counter}}">
                    Message to {{msg.recipient}} sent {{msg.sent_at|timesince}} ago.
                </button>
            </h2>
            <div id="flush-collapse-out-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row"><b>{{ msg.subject }}</b></div>
                    <div class="row">{{msg.content}}</div>
                    <div class="row">
                        <button class="btn btn-primary col-1">Reply</button>
                        <form method="POST" class="col-1">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} {% endcomment %}
    <!--ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Inbox</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Outbox</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% if not inbox %}
                <h4>You have no incoming messages</h4>
            {% endif %}
            <div class="accordion accordion-flush" id="outbox-messages">
                {% for msg in inbox %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-out-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse-out-{{forloop.counter}}">
                                Message from {{msg.sender}} sent {{msg.sent_at|timesince}} ago.
                            </button>
                        </h2>
                        <div id="flush-collapse-out-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">{{msg.content}}</div>
                                <div class="row col-md-3">
                                    <button class="btn btn-primary col-2">Reply</button>
                                    <form method="POST" class="col-2">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% if not outbox %}
                <h4>You have no outgoing messages</h4>
            {% endif %}
            <div class="accordion accordion-flush" id="outbox-messages">
                {% for msg in outbox %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-out-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse-out-{{forloop.counter}}">
                                Message to {{msg.recipient}} sent {{msg.sent_at|timesince}} ago.
                            </button>
                        </h2>
                        <div id="flush-collapse-out-{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">{{msg.content}}</div>
                                <div class="row">
                                    <button class="btn btn-primary col-1">Reply</button>
                                    <form method="POST" class="col-1">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </-->
{% endblock content %}

